body{
  width: 650px;
  margin: 40px auto;
}

.message{
  text-align: center;
  font-family: $font;
  font-size: 1.7em;
  margin: 0;
  padding: 0px 0px 40px 0px;
}

.waiting-gif{
  display: none;
  margin: auto;
  border: solid;
  border-radius: 2px;
}

.resetButton{
  display: none;
  position: relative;
  left: 22px;
  float: right;
  box-sizing: border-box;
  background: none;
  font-size: 1.5em;
  padding: 0px 6px;
  border: solid black;
  border-radius: 2px;
  opacity: 0.75;
  cursor: pointer;
  box-shadow: 4px 8px 20px 0px #8c8c8c;
  i{
    padding-bottom: 5px;
  }
  &:hover{
    opacity: 1;
  }
  &:focus{
    outline: 0;
  }
}

.rules-button{
  position: absolute;
  right: -40px;
  top: 7px;
  font-family: $font;
  font-size: 1.5em;
  background-color: white;
  border: solid black;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 40px;
  height: 40px;
  padding: 4px 10px;
  box-shadow: 4px 8px 20px 0px #8c8c8c;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.shadow-blocker{
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 55px;
  width: 10px;
}

.game-rules-sidebar{
  z-index: 1;
  position: absolute;
  top: 90px;
  left: -2px;
  width: 220px;
  padding: 20px 40px 20px 60px;
  background-color: white;
  border: solid black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: $font;
  box-shadow: 4px 8px 20px 0px #8c8c8c;
  transition: left 0.35s ease-out;
  h2{
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  p{
    margin: 15px 0px;
  }
  &.hidden-left{
    left: -326px;
    opacity: 0.75;
    box-shadow: none;
    &:hover{
      opacity: 1;
    }
  }
}

.game-rules-on-page{
  z-index: 1;
  position: absolute;
  top: 50vh;
  left: 20vw;
  width: 50vw;
  padding: 20px 5vw 20px 5vw;
  background-color: white;
  border: solid black;
  border-radius: 2px;
  font-family: "Comfortaa", cursive;
  box-shadow: 4px 8px 20px 0px #8c8c8c;
  h2{
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
  }
  p{
    margin: 15px 0px;
  }
  .rules-button{
    display: none;
  }
  .shadow-blocker{
    display: none;
  }
}

.gameboard{
  width: 615px;
  height: 607px;
  box-shadow: 4px 8px 20px 0px #8c8c8c;
  border: 4px solid black;
}

#gameboard-template{
  display: none;
}

.outer{
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  max-width: 205px;
  padding: 25px;
}

.inner{
  box-sizing: border-box;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2em;
  padding-top: 5px;
  cursor: not-allowed;
}

.topLeft{
  border-top: none;
  border-left: none;
  float: left;
}

.topCenter{
  border-top: none;
  float: left;
}

.topRight{
  border-top: none;
  border-right: none;
  float: left;
}

.middleLeft{
  border-left: none;
  float: left;
}

.middleCenter{
  float: left;
}

.middleRight{
  border-right: none;
  float: left;
}

.bottomLeft{
  border-left: none;
  border-bottom: none;
  float: left;
}

.bottomCenter{
  border-bottom: none;
  float: left;
}

.bottomRight{
  border-right: none;
  border-bottom: none;
  float: left;
}

.nextBoard{
  background-color: rgba(0, 100, 0, 0.25);
  .inner{
    cursor: pointer;
  }
}

.XWins{
  display: none;
  position: absolute;
  line-height: 0.75;
  font-size: 13em;
}

.OWins{
  display: none;
  position: absolute;
  line-height: 0.75;
  font-size: 13em;
}

.CWins{
  display: none;
  position: absolute;
  line-height: 0.75;
  font-size: 13em;
}

.XWinner{
  background-color: rgba(150, 150, 150, 0.5);
}

.OWinner{
  background-color: rgba(150, 150, 150, 0.5);
}

.CWinner{
  background-color: rgba(150, 150, 150, 0.5);
}

.WinsTheGame{
  position: absolute;
  color: white;
  font-size: 40em;
  background-color: black;
  z-index: 1;
  line-height: 0.75;
  padding: 100px;
}

.XWinner > .XWins{
  display: block;
}

.OWinner > .OWins{
  display: block;
}

.CWinner > .CWins{
  display: block;
}

.thisOne{
  position: absolute;
  color: red;
  top: 89px;
  left: 25px;
  padding: 4px 0px;
  font-family: $font;
  background-color: rgb(192, 217, 192);}

.new-game{
  display: block;
  width: 256px;
  margin: 10vh auto 0;
  .new-game-button{
    border: none;
    color: white;
    background-color: green;
    font-size: 2em;
    padding: 10px 50px;
    box-shadow: 4px 8px 20px 0px #8c8c8c;
    cursor: pointer;
    &:hover{
      transform: scale(1.01);
    }
  }
}
